
<app-header></app-header>

<!-- main content -->
<main class="h-[calc(100vh-120px)] w-full absolute top-14">
  <!-- left sidebar -->
<app-menu></app-menu>
  <section id="content"
           class="w-[100wh-60px] lg:w-[100wh-250px] ml-[180px] md:ml-[240px] p-5 right-0 transition-all duration-500 ease-in-out">
    <section class="container px-4 mx-auto">
      <div class="flex flex-col">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">

    <router-outlet></router-outlet>


          </div>
        </div>
      </div>
      <app-pagination *ngIf="router.url.includes('articles') || router.url.includes('mvtstk')|| router.url.includes('clients')|| router.url.includes('fournisseurs')||router.url.includes('commandesclient')||router.url.includes('commandesfournisseur')"></app-pagination>
    </section>

    </section>
</main>

<footer class="bg-gray-50 p-5 bottom-0 fixed w-full">
  <p class="text-center">Copyright </p>
</footer>


