

<header class="h-14 bg-gray-100 top-0 w-full fixed shadow" style="z-index: 99999;">
  <div class="flex justify-between items-center px-10 h-14">
    <div class="flex justify-between items-center gap-x-14">
      <div class="w-40">
        <h2 class="text-md font-bold" href="#">MyStock</h2>

      </div>

    </div>

    <ul class="flex items-center gap-5">
      <li class=""><a class="bg-gray-200 px-3 py-2 rounded-sm" href="#"><i class="fa-regular fa-bell"></i></a>
      </li>
      <li class="" onclick="openUserDropdown()">
        <img class="inline-block h-8 w-8 rounded-full ring-2 ring-white cursor-pointer"
             src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
             alt="">
        <ul id="user-dropdown" class="absolute hidden bg-white right-4 top-14 w-28 rounded shadow-md">
          <li class="mb-1 hover:bg-gray-50 text-gray-700 hover:text-gray-900"><a class="block px-5 py-2"
                                                                                 href="#">Profile</a></li>
          <li class="mb-1 hover:bg-gray-50 text-gray-700 hover:text-gray-900"><a class="block px-5 py-2"
                                                                                 href="#">Settings</a></li>
          <li class="mb-1 hover:bg-gray-50 text-gray-700 hover:text-gray-900"><a class="block px-5 py-2"
                                                                                 href="#">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</header>

<!-- main content -->
<main class="h-[calc(100vh-120px)] w-full absolute top-14">
  <!-- left sidebar -->
<app-menu></app-menu>
  <section id="content"
           class="w-[100wh-60px] lg:w-[100wh-250px] ml-[60px] lg:ml-[240px] p-5 right-0 transition-all duration-500 ease-in-out">
    <router-outlet/>
  </section>
</main>

<footer class="bg-gray-50 p-5 bottom-0 fixed w-full">
  <p class="text-center">Copyright </p>
</footer>


