<h2 mat-dialog-title>Correction de stock</h2>
<mat-dialog-content>
  <div class="mb-4">
    <input type="text" placeholder="Quantité" class="border p-2 rounded w-full">
  </div>
  <div class="mb-4">
    <select class="border p-2 rounded w-full">
      <option>Correction négative</option>
      <!-- Add more countries as needed -->
    </select>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">

  <div class="example-button-row">


    <button mat-raised-button mat-dialog-close >Enregistrer</button>
    <button  mat-raised-button  color ="warn"  mat-dialog-close>Annuler</button>
  </div>
</mat-dialog-actions>

