<tr>
  <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
    <div class="flex items-center gap-x-2">
      <img class="object-cover w-8 h-8 rounded-full" src="assets/ready-stock.png" alt="">
      <div>
        <h2 class="text-sm font-medium text-gray-800 dark:text-white ">Code Article</h2>
        <p class="text-xs font-normal text-gray-600 dark:text-gray-400">Designation</p>
      </div>
    </div>
  </td>




  <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
    <p class="text-xs font-normal text-gray-600 dark:text-gray-400">Prix HTT</p>
    <p class="text-xs font-normal text-gray-600 dark:text-gray-400">Prix TTC</p>
  </td>
  <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
    <p class="text-xs font-normal text-gray-600 dark:text-gray-400">Code categorie</p>
    <p class="text-xs font-normal text-gray-600 dark:text-gray-400">Description categorie</p>
  </td>
  <td class="px-4 py-4 text-sm whitespace-nowrap">
    <div class="flex items-center gap-x-6">
      <button class="text-gray-500 transition-colors duration-200 dark:hover:text-indigo-500 dark:text-gray-300  focus:outline-none">
        Modifier
      </button>

      <button class="text-blue-500 transition-colors duration-200  focus:outline-none">
        Details
      </button>
      <button class="text-red-500 transition-colors duration-200  focus:outline-none">
        Supprimer
      </button>
    </div>
  </td>
</tr>
