<aside id="sidebar" class="sidebar" [class.sidebar-close]="!openSidebar">
  <div class="flex flex-col justify-between h-full">

    <ul class="nav-links" id="nav-links">
      <li *ngFor="let item of menuProperties" #itemEl routerLinkActive="active">

        <div  class="dropdown-title" (click)="showSubmenu(itemEl)">
          <a>

            <i [class]="item.icon"></i>
            <span class="link_name">{{item.titre}}</span>
          </a>
          <i class='bx bxs-chevron-down arrow'></i>
        </div>
        <ul class="sub-menu" [class.blank]="item.sousMenu?.length == 0">
          <li><a class="link_name">{{item.titre}}</a></li>
          <li *ngFor="let item_sub of item.sousMenu" routerLinkActive="active">
            <a href="javascript:void(0);" (click)="navigate(item_sub)">
              <i [class]="item_sub.icon"></i>

              {{item_sub.titre}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</aside>
