<div class="flex justify-between gap-x-8 whitespace-nowrap ">
  <h1 class="text-lg font-bold text-gray-900 ">Commandes {{ origin }}</h1>
  <app-bouton-action
  [isImporterVisible]="false"

(clickEvent)="nouvelleCommande()"
></app-bouton-action>
</div>

<div class="overflow-hidden border border-gray-200 dark:border-gray-700 md:rounded-lg">
  <mat-accordion>
 <app-detail-cmd-clt-frs></app-detail-cmd-clt-frs>
    <app-detail-cmd-clt-frs></app-detail-cmd-clt-frs>
    <app-detail-cmd-clt-frs></app-detail-cmd-clt-frs>

  </mat-accordion>

</div>




