<div class="flex  justify-between gap-x-8 whitespace-nowrap ">
  <h1 class="text-lg font-bold text-gray-900 ">Liste des articles</h1>
  <app-bouton-action
  [isImporterVisible]="false"
  [isNouveauVisible]="false"
  ></app-bouton-action>
</div>

<div class="overflow-hidden border border-gray-200 dark:border-gray-700 md:rounded-lg">
  <mat-accordion>
   <app-detail-mvt-stk-article></app-detail-mvt-stk-article>
    <app-detail-mvt-stk-article></app-detail-mvt-stk-article>
    <app-detail-mvt-stk-article></app-detail-mvt-stk-article>
  </mat-accordion>

</div>


