<div class="flex  justify-between gap-x-8 whitespace-nowrap w-full overflow-auto ">
    <h1 class="text-lg font-bold text-gray-900 ">Liste des articles</h1>
    <div class="flex gap-x-2 justify-end">
      <button type="button" class="text-white bg-[#1da1f2]  focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 rounded-lg text-sm md:px-3 md:py-2 px-2 py-1 text-center inline-flex items-center dark:focus:ring-[#1da1f2]/55 me-2 mb-2">
        <fa-icon class="w-4 h-4 me-2 mb-1" [icon]="faPlus"></fa-icon>
        Nouveau
      </button>
      <button type="button" class="text-white bg-green-600  focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 rounded-lg text-sm md:px-3 md:py-2 px-2 py-1 text-center inline-flex items-center dark:focus:ring-[#1da1f2]/55 me-2 mb-2">
        <fa-icon class="w-4 h-4 me-2 mb-1" [icon]="faFileExport"></fa-icon>
        Exporter
      </button>
      <button type="button" class="text-white bg-yellow-400  focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 rounded-lg text-sm md:px-3 md:py-2 px-2 py-1 text-center inline-flex items-center dark:focus:ring-[#1da1f2]/55 me-2 mb-2">
        <fa-icon class="w-4 h-4 me-2 mb-1" [icon]="faCloudArrowUp"></fa-icon>
        Importer
      </button>
    </div>
  </div>
  
<div class="bg-gray-100 dark:bg-gray-800 transition-colors duration-300">
    <div class="container mx-auto p-4">
      <div class="bg-white dark:bg-gray-700 shadow rounded-lg p-6 ">
    

         

          <div class="border-t border-gray-200">
            <dl>
                <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500 whitespace-nowrap">
                        Code categorie
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        Description categorie
                    </dd>
                </div>
             
           
              
            </dl>
        </div>
          
        </div>
        </div>
        </div>
