<div class="flex justify-between">
  <h1 class="text-lg font-bold text-gray-900 ">Liste des clients</h1>
  <app-bouton-action
  (clickEvent)="nouveauClient()"
  ></app-bouton-action>
</div>

<div class="overflow-hidden border border-gray-200 dark:border-gray-700 md:rounded-lg">
  <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">

    <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
    <tr app-detail-clt-frs>

    </tr>
    <tr app-detail-clt-frs>

    </tr>
    <tr app-detail-clt-frs>

    </tr>
    </tbody>
  </table>

</div>

