<div class="flex justify-between">
  <h3 class="font-semibold text-lg text-gray-900 ">Liste des articles</h3>
  <div class="flex gap-x-2 justify-end">
    <button type="button" class="text-white bg-[#1da1f2]  focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 rounded-lg text-sm md:px-3 md:py-2 px-2 py-1 text-center inline-flex items-center dark:focus:ring-[#1da1f2]/55 me-2 mb-2">
      <fa-icon class="w-4 h-4 me-2 mb-1" [icon]="faPlus"></fa-icon>
      Nouveau
    </button>
    <button type="button" class="text-white bg-green-600  focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 rounded-lg text-sm md:px-3 md:py-2 px-2 py-1 text-center inline-flex items-center dark:focus:ring-[#1da1f2]/55 me-2 mb-2">
      <fa-icon class="w-4 h-4 me-2 mb-1" [icon]="faFileExport"></fa-icon>
      Exporter
    </button>
    <button type="button" class="text-white bg-yellow-400  focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 rounded-lg text-sm md:px-3 md:py-2 px-2 py-1 text-center inline-flex items-center dark:focus:ring-[#1da1f2]/55 me-2 mb-2">
      <fa-icon class="w-4 h-4 me-2 mb-1" [icon]="faCloudArrowUp"></fa-icon>
      Importer
    </button>
  </div>
</div>

<div class="overflow-hidden border border-gray-200 dark:border-gray-700 md:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">

            <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
            <tr app-detail-article>

            </tr>
            <tr app-detail-article>

            </tr>
            <tr app-detail-article>

            </tr>
            </tbody>
          </table>

</div>

